
<div class="main-container">
    <app-navbar></app-navbar>
    <div class="main-section">
        <div class="login">
            <h1>Login</h1>
            <form [formGroup]="loginForm" (ngSubmit)="login()" >
           
                <input type="email" id="correoElectronico" formControlName="correoElectronico" placeholder="Username">
                <div *ngIf="loginForm.get('correoElectronico')?.invalid && loginForm.get('correoElectronico')?.touched">
                    <div *ngIf="loginForm.get('correoElectronico')?.errors?.['required']" class="error-message">Correo electrónico es requerido.</div>
                    <div *ngIf="loginForm.get('correoElectronico')?.errors?.['email']" class="error-message">Correo electrónico no válido.</div>
                  </div>
                <input type="password" name="p" placeholder="Password"  formControlName="contrasena" >
                <div *ngIf="loginForm.get('contrasena')?.invalid && loginForm.get('contrasena')?.touched" class="error-message">
                  Contraseña es requerida.
                </div>
            
                <button type="submit" class="btn btn-primary btn-block btn-large"  [disabled]="loginForm.invalid">Ingresar</button>
                <div  class="btn btn-primary btn-block btn-large" (click)="openModal()">registro</div>
            </form>

    

        </div>
      
    </div>

</div>

